n8n/workflows/sub-faq-answer.json
{
  "name": "sub-faq-answer",
  "nodes": [
    {
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "openai-faq-answer",
      "name": "Generate FAQ Answer (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres la asistente virtual de la clinica dermatologica. Responde en espanol, de forma amable y concisa.\n\nUsa SOLAMENTE la informacion del siguiente knowledge base para responder. Si la pregunta no esta cubierta, responde exactamente: \"No tengo esa informacion. Te comunico con un miembro de nuestro equipo.\"\n\nKnowledge base:\n={{ $json.formatted_faqs }}"
            },
            {
              "role": "user",
              "content": "={{ $json.message_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "set-faq-output",
      "name": "Set FAQ Answer Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "is_handoff",
              "name": "is_handoff",
              "value": "={{ $json.message.content.includes('No tengo esa informacion') }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Generate FAQ Answer (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FAQ Answer (OpenAI)": {
      "main": [
        [
          {
            "node": "Set FAQ Answer Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "chatbot" },
    { "name": "sub-workflow" }
  ]
}
