n8n/workflows/sub-send-wa-message.json
{
  "name": "sub-send-wa-message",
  "nodes": [
    {
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "check-send-buttons",
      "name": "Send Buttons?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "send-buttons-check",
              "leftValue": "={{ $json.send_buttons }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-buttons-message",
      "name": "Send Buttons Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 160],
      "parameters": {
        "method": "POST",
        "url": "=http://clinic-evolution:8080/message/sendText/{{ $json.instance_name || 'clinic-main' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.api_key || 'Jehova01' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.remote_jid }}"
            },
            {
              "name": "text",
              "value": "*¿En qué puedo ayudarte?*\n\n1️⃣ Precios / Promo\n2️⃣ Horarios / Ubicación\n3️⃣ Agendar cita\n\n_Responde con el número de tu opción_"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "send-text-message",
      "name": "Send Text Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 440],
      "parameters": {
        "method": "POST",
        "url": "=http://clinic-evolution:8080/message/sendText/clinic-main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "Jehova01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.remote_jid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response_text || '[sin respuesta]' }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Send Buttons?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Buttons?": {
      "main": [
        [
          {
            "node": "Send Buttons Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "chatbot" },
    { "name": "sub-workflow" }
  ]
}
