n8n/workflows/sub-classify-intent.json
{
  "name": "sub-classify-intent",
  "nodes": [
    {
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "openai-classify-intent",
      "name": "Classify Intent (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'You are a dermatology clinic assistant. Classify the patient\\'s message into one of these intents:\\n- PROMOTION: patient mentions a specific promotion, discount price, or treatment offer they saw in an ad or social media (e.g. \"me interesa la promo de $79.99\", \"vi el tratamiento de rejuvenecimiento\", \"quiero info de la oferta\")\\n- FAQ: patient asks about hours, location, general prices, services, or general information\\n- BOOKING: patient explicitly wants to schedule, confirm, or book an appointment (e.g. \"quiero agendar\", \"quiero una cita\", \"disponibilidad para el martes\")\\n- HANDOFF: patient has a medical complaint, is frustrated, or asks something you cannot answer\\n- GREETING: patient says hello or a generic greeting with no specific request\\n\\nIMPORTANT: Expressing interest in a promotion or asking about a promotional price is PROMOTION, not BOOKING. BOOKING is only when the patient explicitly asks to schedule an appointment.\\n\\nRespond with ONLY the intent label (PROMOTION, FAQ, BOOKING, HANDOFF, or GREETING). No explanation.\\n\\nKnowledge base context:\\n' + $json.formatted_faqs }, { role: 'user', content: $json.message_text }], temperature: 0.1 } }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "set-intent-output",
      "name": "Set Intent Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "intent",
              "name": "intent",
              "value": "={{ $json.choices[0].message.content.trim().toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "message_text",
              "name": "message_text",
              "value": "={{ $('Execute Workflow Trigger').item.json.message_text }}",
              "type": "string"
            },
            {
              "id": "formatted_faqs",
              "name": "formatted_faqs",
              "value": "={{ $('Execute Workflow Trigger').item.json.formatted_faqs }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Classify Intent (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent (OpenAI)": {
      "main": [
        [
          {
            "node": "Set Intent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "chatbot" },
    { "name": "sub-workflow" }
  ]
}
