n8n/workflows/sub-booking-flow.json
{
  "name": "sub-booking-flow",
  "nodes": [
    {
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "route-booking-step",
      "name": "Route by Booking Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 300],
      "parameters": {
        "mode": "rules",
        "dataType": "string",
        "value1": "={{ ($json.booking_context && $json.booking_context.booking_step) ? $json.booking_context.booking_step : 'awaiting_service_type' }}",
        "rules": {
          "rules": [
            {
              "value2": "awaiting_service_type",
              "output": 0
            },
            {
              "value2": "awaiting_datetime",
              "output": 1
            },
            {
              "value2": "confirming_slot",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      }
    },
    {
      "id": "extract-service-type",
      "name": "Extract Service Type (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [720, 100],
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Extract the type of dermatology service the patient wants. Common types: Consulta general, Limpieza facial, Tratamiento de acne, Revision de lunares, Botox, Peeling quimico. If the patient has not specified a service type, respond with exactly 'NEEDS_INPUT'. If they specified a service, respond with ONLY the service name, nothing else."
            },
            {
              "role": "user",
              "content": "={{ $('Execute Workflow Trigger').item.json.message_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "check-service-type",
      "name": "Service Type Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 100],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-needs-input",
              "leftValue": "={{ $json.message.content.trim() }}",
              "rightValue": "NEEDS_INPUT",
              "operator": {
                "type": "string",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "set-service-type-response",
      "name": "Set Service Type Saved",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 50],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "={{ 'Perfecto, ' + $json.message.content.trim() + '. Que fecha y hora te gustaria? Por ejemplo: manana a las 10am o el jueves 17 de abril a las 3pm.' }}",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "booking_flow",
              "type": "string"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={{ JSON.stringify({ booking_step: 'awaiting_datetime', service_type: $json.message.content.trim(), patient_name: $('Execute Workflow Trigger').item.json.patient_name }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-needs-service-type",
      "name": "Set Ask Service Type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "Que tipo de servicio te gustaria? Ofrecemos consulta general, limpieza facial, tratamiento de acne, revision de lunares, botox, peeling quimico, entre otros.",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "booking_flow",
              "type": "string"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={{ JSON.stringify({ booking_step: 'awaiting_service_type', patient_name: $('Execute Workflow Trigger').item.json.patient_name }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "extract-datetime",
      "name": "Extract Date and Time (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [720, 350],
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ 'Extract the preferred appointment date and time from the patient message. Today is ' + $now.format('yyyy-MM-dd') + '. Return ONLY a JSON object with this exact format: {\"date\": \"YYYY-MM-DD\", \"time\": \"HH:mm\"}. If you cannot extract a clear date and time, return exactly: {\"error\": \"NEEDS_INPUT\"}. No explanation, no markdown, just the JSON.' }}"
            },
            {
              "role": "user",
              "content": "={{ $('Execute Workflow Trigger').item.json.message_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "parse-datetime",
      "name": "Parse Date Time from LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 350],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const llmResponse = $input.item.json.message.content.trim();\nconst trigger = $('Execute Workflow Trigger').first().json;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(llmResponse);\n} catch (e) {\n  parsed = { error: 'NEEDS_INPUT' };\n}\n\nreturn {\n  json: {\n    parsed_date: parsed.date || null,\n    parsed_time: parsed.time || null,\n    has_error: !!(parsed.error),\n    booking_context: trigger.booking_context,\n    patient_id: trigger.patient_id,\n    patient_name: trigger.patient_name,\n    wa_contact_id: trigger.wa_contact_id,\n    remote_jid: trigger.remote_jid,\n    instance_name: trigger.instance_name,\n    api_key: trigger.api_key\n  }\n};"
      }
    },
    {
      "id": "check-datetime-valid",
      "name": "DateTime Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 350],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-error",
              "leftValue": "={{ $json.has_error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "check-gcal-availability",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [1440, 250],
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $vars.CLINIC_CALENDAR_ID || 'primary' }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.parsed_date + 'T09:00:00' }}",
          "timeMax": "={{ $json.parsed_date + 'T18:00:00' }}"
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credential",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "id": "find-available-slots",
      "name": "Find Available Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 250],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst datetimeNode = $('Parse Date Time from LLM').first().json;\nconst trigger = $('Execute Workflow Trigger').first().json;\n\nconst targetDate = datetimeNode.parsed_date;\nconst targetTime = datetimeNode.parsed_time || '10:00';\n\n// Build list of busy periods from calendar events\nconst busySlots = items\n  .filter(item => item.json.start)\n  .map(item => ({\n    start: new Date(item.json.start.dateTime || item.json.start.date + 'T00:00:00').getTime(),\n    end: new Date(item.json.end.dateTime || item.json.end.date + 'T23:59:00').getTime()\n  }));\n\n// Generate 30-minute slots from 9:00 to 17:30\nconst slots = [];\nconst workStart = 9 * 60; // minutes from midnight\nconst workEnd = 17 * 60 + 30;\nconst slotDuration = 30;\n\nfor (let m = workStart; m + slotDuration <= workEnd + slotDuration; m += slotDuration) {\n  const slotStartHour = Math.floor(m / 60);\n  const slotStartMin = m % 60;\n  const slotEndMin = m + slotDuration;\n  const slotEndHour = Math.floor(slotEndMin / 60);\n  const slotEndMinute = slotEndMin % 60;\n\n  const startStr = targetDate + 'T' + String(slotStartHour).padStart(2,'0') + ':' + String(slotStartMin).padStart(2,'0') + ':00';\n  const endStr = targetDate + 'T' + String(slotEndHour).padStart(2,'0') + ':' + String(slotEndMinute).padStart(2,'0') + ':00';\n\n  const slotStartMs = new Date(startStr).getTime();\n  const slotEndMs = new Date(endStr).getTime();\n\n  // Check not overlapping with any busy slot\n  const isFree = !busySlots.some(busy => slotStartMs < busy.end && slotEndMs > busy.start);\n  if (isFree) {\n    slots.push({ start: startStr, end: endStr });\n  }\n}\n\n// Sort slots by proximity to preferred time\nconst [prefHour, prefMin] = (targetTime || '10:00').split(':').map(Number);\nconst prefMinutes = prefHour * 60 + (prefMin || 0);\nslots.sort((a, b) => {\n  const aMinutes = parseInt(a.start.split('T')[1].split(':')[0]) * 60 + parseInt(a.start.split('T')[1].split(':')[1]);\n  const bMinutes = parseInt(b.start.split('T')[1].split(':')[0]) * 60 + parseInt(b.start.split('T')[1].split(':')[1]);\n  return Math.abs(aMinutes - prefMinutes) - Math.abs(bMinutes - prefMinutes);\n});\n\nconst topSlots = slots.slice(0, 3);\n\n// Format slots for display\nconst formatSlot = (s) => {\n  const parts = s.start.split('T');\n  const timeParts = parts[1].split(':');\n  const dateParts = parts[0].split('-');\n  return `${dateParts[2]}/${dateParts[1]}/${dateParts[0]} a las ${timeParts[0]}:${timeParts[1]}`;\n};\n\nreturn [{\n  json: {\n    available_slots: topSlots,\n    slots_found: topSlots.length > 0,\n    target_date: targetDate,\n    slot_1: topSlots[0] ? formatSlot(topSlots[0]) : null,\n    slot_2: topSlots[1] ? formatSlot(topSlots[1]) : null,\n    slot_3: topSlots[2] ? formatSlot(topSlots[2]) : null,\n    booking_context: datetimeNode.booking_context,\n    patient_id: datetimeNode.patient_id,\n    patient_name: datetimeNode.patient_name,\n    wa_contact_id: datetimeNode.wa_contact_id,\n    remote_jid: datetimeNode.remote_jid,\n    instance_name: datetimeNode.instance_name,\n    api_key: datetimeNode.api_key\n  }\n}];"
      }
    },
    {
      "id": "check-slots-available",
      "name": "Slots Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, 250],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-slots-found",
              "leftValue": "={{ $json.slots_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "set-slots-response",
      "name": "Set Slots Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2160, 150],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "={{ 'Tengo estos horarios disponibles:\\n1. ' + $json.slot_1 + ($json.slot_2 ? '\\n2. ' + $json.slot_2 : '') + ($json.slot_3 ? '\\n3. ' + $json.slot_3 : '') + '\\nCual prefieres? (responde con el numero)' }}",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "booking_flow",
              "type": "string"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={{ JSON.stringify({ booking_step: 'confirming_slot', service_type: $json.booking_context.service_type, available_slots: $json.available_slots, patient_name: $json.patient_name, patient_id: $json.patient_id }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-no-slots-response",
      "name": "Set No Slots Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2160, 350],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "No hay horarios disponibles para esa fecha. Quieres intentar con otro dia? Por favor indicame la fecha y hora que prefieres.",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "booking_flow",
              "type": "string"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={{ JSON.stringify({ booking_step: 'awaiting_datetime', service_type: $json.booking_context.service_type, patient_name: $json.patient_name, patient_id: $json.patient_id }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-ask-datetime",
      "name": "Set Ask DateTime",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1440, 450],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "No entendi la fecha. Puedes darme un dia y hora? Por ejemplo: el lunes a las 10am, o manana a las 3pm.",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "booking_flow",
              "type": "string"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={{ JSON.stringify({ booking_step: 'awaiting_datetime', service_type: $('Execute Workflow Trigger').item.json.booking_context.service_type, patient_name: $('Execute Workflow Trigger').item.json.patient_name }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "parse-slot-selection",
      "name": "Parse Slot Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 550],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const trigger = $('Execute Workflow Trigger').first().json;\nconst messageText = trigger.message_text || '';\nconst bookingContext = trigger.booking_context || {};\nconst availableSlots = bookingContext.available_slots || [];\n\n// Parse selection: look for digit 1, 2, or 3\nconst match = messageText.match(/[123]/);\nconst selectionIndex = match ? parseInt(match[0]) - 1 : -1;\n\nconst selectedSlot = (selectionIndex >= 0 && selectionIndex < availableSlots.length)\n  ? availableSlots[selectionIndex]\n  : null;\n\nreturn {\n  json: {\n    valid_selection: selectedSlot !== null,\n    selected_slot: selectedSlot,\n    service_type: bookingContext.service_type || 'Consulta general',\n    patient_id: trigger.patient_id,\n    patient_name: bookingContext.patient_name || trigger.patient_name || 'Paciente',\n    wa_contact_id: trigger.wa_contact_id,\n    remote_jid: trigger.remote_jid,\n    instance_name: trigger.instance_name,\n    api_key: trigger.api_key\n  }\n};"
      }
    },
    {
      "id": "check-slot-selection-valid",
      "name": "Valid Slot Selection?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 550],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.valid_selection }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "create-calendar-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [1200, 450],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "={{ $vars.CLINIC_CALENDAR_ID || 'primary' }}",
          "mode": "id"
        },
        "start": "={{ $json.selected_slot.start }}",
        "end": "={{ $json.selected_slot.end }}",
        "additionalFields": {
          "summary": "={{ $json.service_type + ' - ' + $json.patient_name }}",
          "description": "={{ 'Paciente: ' + $json.patient_name + ', WhatsApp: ' + $json.wa_contact_id }}"
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credential",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "id": "insert-appointment",
      "name": "Insert Appointment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 450],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO appointments (patient_id, appointment_type, scheduled_at, google_event_id, duration_minutes, notes)\nVALUES (\n  CASE WHEN '{{ $('Parse Slot Selection').item.json.patient_id }}' = 'null' OR '{{ $('Parse Slot Selection').item.json.patient_id }}' = '' THEN NULL\n       ELSE '{{ $('Parse Slot Selection').item.json.patient_id }}'::uuid END,\n  '{{ $('Parse Slot Selection').item.json.service_type }}',\n  '{{ $('Parse Slot Selection').item.json.selected_slot.start }}'::timestamptz,\n  '{{ $json.id }}',\n  30,\n  'Agendada via chatbot'\n) RETURNING id, scheduled_at, google_event_id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "set-confirmation-response",
      "name": "Set Confirmation Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 450],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const slotSelection = $('Parse Slot Selection').first().json;\nconst selectedSlot = slotSelection.selected_slot;\n\n// Format date for Spanish display\nconst slotStart = new Date(selectedSlot.start);\nconst day = String(slotStart.getDate()).padStart(2, '0');\nconst monthNames = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nconst month = monthNames[slotStart.getMonth()];\nconst year = slotStart.getFullYear();\nconst hours = String(slotStart.getHours()).padStart(2, '0');\nconst minutes = String(slotStart.getMinutes()).padStart(2, '0');\n\nconst fechaFormatted = `${day} de ${month} de ${year}`;\nconst horaFormatted = `${hours}:${minutes}`;\n\nreturn {\n  json: {\n    response_text: `Cita confirmada para el ${fechaFormatted} a las ${horaFormatted}. Te esperamos en la clinica. Hasta pronto!`,\n    new_state: 'awaiting_intent',\n    new_context: JSON.stringify({ booking_step: 'complete' })\n  }\n};"
      }
    },
    {
      "id": "set-invalid-selection",
      "name": "Set Invalid Selection Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 650],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "No entendi tu seleccion. Por favor responde con 1, 2 o 3 para elegir uno de los horarios disponibles.",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "booking_flow",
              "type": "string"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={{ JSON.stringify($('Execute Workflow Trigger').item.json.booking_context) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-booking-responses",
      "name": "Merge Booking Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2400, 400],
      "parameters": {
        "mode": "chooseBranch",
        "chooseBranch": {
          "mode": "waitForAll",
          "output": 0
        },
        "options": {}
      }
    },
    {
      "id": "set-final-output",
      "name": "Set Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 400],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Collect response from whichever branch ran\nconst item = $input.item.json;\nreturn {\n  json: {\n    response_text: item.response_text || 'Hubo un error. Por favor intenta de nuevo.',\n    new_state: item.new_state || 'booking_flow',\n    new_context: item.new_context || '{}'\n  }\n};"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Route by Booking Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Booking Step": {
      "main": [
        [
          {
            "node": "Extract Service Type (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Date and Time (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Slot Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Service Type (OpenAI)": {
      "main": [
        [
          {
            "node": "Service Type Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Type Found?": {
      "main": [
        [
          {
            "node": "Set Service Type Saved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Ask Service Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Service Type Saved": {
      "main": [
        [
          {
            "node": "Merge Booking Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ask Service Type": {
      "main": [
        [
          {
            "node": "Merge Booking Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Date and Time (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Date Time from LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Date Time from LLM": {
      "main": [
        [
          {
            "node": "DateTime Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DateTime Valid?": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Ask DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Find Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Available Slots": {
      "main": [
        [
          {
            "node": "Slots Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slots Available?": {
      "main": [
        [
          {
            "node": "Set Slots Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Slots Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Slots Response": {
      "main": [
        [
          {
            "node": "Merge Booking Responses",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set No Slots Response": {
      "main": [
        [
          {
            "node": "Merge Booking Responses",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Set Ask DateTime": {
      "main": [
        [
          {
            "node": "Merge Booking Responses",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Parse Slot Selection": {
      "main": [
        [
          {
            "node": "Valid Slot Selection?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Slot Selection?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Invalid Selection Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Insert Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Appointment": {
      "main": [
        [
          {
            "node": "Set Confirmation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Confirmation Response": {
      "main": [
        [
          {
            "node": "Merge Booking Responses",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Set Invalid Selection Response": {
      "main": [
        [
          {
            "node": "Merge Booking Responses",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge Booking Responses": {
      "main": [
        [
          {
            "node": "Set Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "chatbot" },
    { "name": "sub-workflow" },
    { "name": "booking" }
  ]
}
