n8n/workflows/whatsapp-connection-update.json
{
  "name": "WhatsApp Connection Update Alert",
  "nodes": [
    {
      "id": "webhook-connection-update",
      "name": "Receive CONNECTION_UPDATE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-connection-update",
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound/connection-update",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "switch-state",
      "name": "Connection State",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.data.state }}",
        "rules": {
          "rules": [
            {
              "value2": "open",
              "output": 0
            },
            {
              "value2": "close",
              "output": 1
            },
            {
              "value2": "connecting",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      }
    },
    {
      "id": "send-connection-success",
      "name": "Send Connection Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 150],
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/clinic-main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $env.ADMIN_WHATSAPP_NUMBER, text: 'WhatsApp conectado exitosamente. El chatbot y las alertas estan activos.' }) }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "send-disconnect-alert",
      "name": "Send Disconnect Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 350],
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/clinic-main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $env.ADMIN_WHATSAPP_NUMBER, text: '\u26a0\ufe0f La sesion de WhatsApp se desconecto. Estado: ' + $json.data.state }) }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "log-other-state",
      "name": "Log Other State",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 500],
      "parameters": {}
    }
  ],
  "connections": {
    "Receive CONNECTION_UPDATE": {
      "main": [
        [
          {
            "node": "Connection State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connection State": {
      "main": [
        [
          {
            "node": "Send Connection Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Disconnect Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Other State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "whatsapp" },
    { "name": "infra" }
  ]
}
