n8n/workflows/whatsapp-chatbot.json
{
  "name": "whatsapp-chatbot",
  "nodes": [
    {
      "id": "webhook-messages-upsert",
      "name": "Receive MESSAGES_UPSERT",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "whatsapp-messages-upsert",
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound/messages-upsert",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "filter-from-me",
      "name": "Filter fromMe Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-from-me-check",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "extract-fields",
      "name": "Extract Message Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "remote_jid",
              "name": "remote_jid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "message_text",
              "name": "message_text",
              "value": "={{ $json.body.data.message.conversation || ($json.body.data.message.extendedTextMessage || {}).text || ($json.body.data.message.buttonsResponseMessage || {}).selectedButtonId || '' }}",
              "type": "string"
            },
            {
              "id": "button_id",
              "name": "button_id",
              "value": "={{ ($json.body.data.message.buttonsResponseMessage || {}).selectedButtonId || '' }}",
              "type": "string"
            },
            {
              "id": "push_name",
              "name": "push_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "wa_message_id",
              "name": "wa_message_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "instance_name",
              "name": "instance_name",
              "value": "clinic-main",
              "type": "string"
            },
            {
              "id": "api_key",
              "name": "api_key",
              "value": "=Jehova01",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "read-conversation-state",
      "name": "Read Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, c.state, c.context, c.patient_id, c.wa_contact_id,\n       p.first_name, p.last_name, p.phone_normalized,\n       COALESCE((\n         SELECT json_agg(t ORDER BY t.created_at ASC)\n         FROM (\n           SELECT sender, content, created_at\n           FROM messages\n           WHERE conversation_id = c.id\n           ORDER BY created_at DESC\n           LIMIT 5\n         ) t\n       ), '[]'::json) AS recent_messages\nFROM conversations c\nLEFT JOIN patients p ON c.patient_id = p.id\nWHERE c.wa_contact_id = '{{ $json.remote_jid }}' AND c.state != 'closed'\nORDER BY c.last_message_at DESC NULLS LAST\nLIMIT 1",
        "options": {
          "alwaysOutputData": true
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "conversation-exists",
      "name": "Conversation Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "create-conversation",
      "name": "Create New Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1440,
        350
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH patient_match AS (\n  SELECT id FROM patients\n  WHERE phone_normalized = regexp_replace($1, '[^0-9]', '', 'g')\n  LIMIT 1\n)\nINSERT INTO conversations (wa_contact_id, state, context, patient_id)\nSELECT\n  $1,\n  'awaiting_intent',\n  '{}'::jsonb,\n  (SELECT id FROM patient_match)\nRETURNING id, state, context, patient_id, wa_contact_id, NULL::text as first_name, NULL::text as last_name, NULL::text as phone_normalized",
        "options": {
          "queryReplacement": "={{ $('Extract Message Fields').first().json.remote_jid }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "merge-conversation",
      "name": "Merge Conversation Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const conv = $input.item.json;\nconst msg = $('Extract Message Fields').first().json;\n\nconst buttonMap = {\n  'promo_precios': 'Quiero información sobre precios y la promoción',\n  'horarios_ubicacion': '¿Cuáles son sus horarios y dónde están ubicados?',\n  'agendar_cita': 'Quiero agendar una cita',\n  '1': 'Quiero información sobre precios y la promoción',\n  '2': '¿Cuáles son sus horarios y dónde están ubicados?',\n  '3': 'Quiero agendar una cita'\n};\n\nlet messageText = msg.message_text;\nif (msg.button_id && buttonMap[msg.button_id]) {\n  messageText = buttonMap[msg.button_id];\n} else if (buttonMap[msg.message_text?.trim()]) {\n  messageText = buttonMap[msg.message_text.trim()];\n}\n\nreturn { json: { ...conv, message_text: messageText, wa_message_id: msg.wa_message_id } };"
      }
    },
    {
      "id": "insert-inbound-message",
      "name": "Insert Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1920,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, direction, sender, content, wa_message_id)\nVALUES (\n  '{{ $json.id }}'::uuid,\n  'inbound',\n  'patient',\n  '{{ $json.message_text.replace(/'/g, \"''\") }}',\n  '{{ $json.wa_message_id }}'\n) RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "check-human-handoff",
      "name": "Is Human Handoff?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2160,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-state",
              "leftValue": "={{ $('Merge Conversation Data').first().json.state }}",
              "rightValue": "human_handoff",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "check-booking-flow-state",
      "name": "Is Booking Flow Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-booking-state",
              "leftValue": "={{ $('Merge Conversation Data').first().json.state }}",
              "rightValue": "booking_flow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "booking-sub-workflow-mid",
      "name": "Continue Booking Flow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2640,
        200
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sub-booking-flow",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "message_text",
              "type": "string"
            },
            {
              "name": "booking_context",
              "type": "object"
            },
            {
              "name": "patient_id",
              "type": "string"
            },
            {
              "name": "patient_name",
              "type": "string"
            },
            {
              "name": "wa_contact_id",
              "type": "string"
            },
            {
              "name": "remote_jid",
              "type": "string"
            },
            {
              "name": "instance_name",
              "type": "string"
            },
            {
              "name": "api_key",
              "type": "string"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "message_text": "={{ $('Extract Message Fields').first().json.message_text }}",
            "booking_context": "={{ $('Merge Conversation Data').first().json.context || {} }}",
            "patient_id": "={{ $('Merge Conversation Data').first().json.patient_id || '' }}",
            "patient_name": "={{ ($('Merge Conversation Data').first().json.first_name ? $('Merge Conversation Data').first().json.first_name + ' ' + ($('Merge Conversation Data').first().json.last_name || '') : $('Extract Message Fields').first().json.push_name) }}",
            "wa_contact_id": "={{ $('Merge Conversation Data').first().json.wa_contact_id }}",
            "remote_jid": "={{ $('Extract Message Fields').first().json.remote_jid }}",
            "instance_name": "={{ $('Extract Message Fields').first().json.instance_name }}",
            "api_key": "={{ $('Extract Message Fields').first().json.api_key }}"
          }
        }
      }
    },
    {
      "id": "booking-after-mid-flow",
      "name": "Prepare Mid-Booking State Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst convData = $('Merge Conversation Data').first().json;\nconst extractFields = $('Extract Message Fields').first().json;\n\nreturn {\n  json: {\n    response_text: item.response_text || '',\n    new_state: item.new_state || 'booking_flow',\n    new_context: item.new_context || '{}',\n    conversation_id: convData.id,\n    remote_jid: extractFields.remote_jid,\n    instance_name: extractFields.instance_name,\n    api_key: extractFields.api_key\n  }\n};"
      }
    },
    {
      "id": "load-knowledge-base",
      "name": "Load Knowledge Base",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2640,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pregunta, respuesta, categoria FROM knowledge_base WHERE is_active = true ORDER BY categoria",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "format-faqs",
      "name": "Format FAQs for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst extractFields = $('Extract Message Fields').first().json;\nconst mergedConv = $('Merge Conversation Data').first().json;\n\n// Format all FAQ rows into a single string for LLM injection\nconst formattedFaqs = items.map(item => {\n  return `[${item.json.categoria}] Q: ${item.json.pregunta}\\nA: ${item.json.respuesta}`;\n}).join('\\n---\\n');\n\n// Format conversation history from DB (last 5 messages, chronological order)\nconst recentMessages = Array.isArray(mergedConv.recent_messages) ? mergedConv.recent_messages : [];\nlet conversationHistory = 'Sin historial previo.';\nif (recentMessages.length > 0) {\n  conversationHistory = recentMessages.map(m => {\n    const role = m.sender === 'patient' ? 'Paciente' : 'Bot';\n    return `${role}: ${m.content}`;\n  }).join('\\n');\n}\n\nreturn [{\n  json: {\n    formatted_faqs: formattedFaqs || 'No hay informacion disponible en este momento.',\n    conversation_history: conversationHistory,\n    message_text: mergedConv.message_text || extractFields.message_text,\n    remote_jid: extractFields.remote_jid,\n    push_name: extractFields.push_name,\n    wa_message_id: extractFields.wa_message_id,\n    instance_name: extractFields.instance_name,\n    api_key: extractFields.api_key,\n    conversation_id: mergedConv.id,\n    conversation_state: mergedConv.state,\n    conversation_context: mergedConv.context || {}\n  }\n}];"
      }
    },
    {
      "id": "classify-intent",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3120,
        400
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sub-classify-intent",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowInputs": {
          "schema": [],
          "mappingMode": "passThrough"
        }
      }
    },
    {
      "id": "route-by-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3360,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-faq",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "FAQ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAQ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-booking",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "BOOKING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BOOKING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-handoff",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "HANDOFF",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HANDOFF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-greeting",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "GREETING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GREETING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-promotion",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "PROMOTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROMOTION"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        }
      }
    },
    {
      "id": "faq-answer",
      "name": "FAQ Answer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3600,
        200
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sub-faq-answer",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowInputs": {
          "schema": [],
          "mappingMode": "passThrough"
        }
      }
    },
    {
      "id": "booking-sub-workflow-new",
      "name": "Start Booking Flow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3600,
        350
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sub-booking-flow",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "message_text",
              "type": "string"
            },
            {
              "name": "booking_context",
              "type": "object"
            },
            {
              "name": "patient_id",
              "type": "string"
            },
            {
              "name": "patient_name",
              "type": "string"
            },
            {
              "name": "wa_contact_id",
              "type": "string"
            },
            {
              "name": "remote_jid",
              "type": "string"
            },
            {
              "name": "instance_name",
              "type": "string"
            },
            {
              "name": "api_key",
              "type": "string"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "message_text": "={{ $('Extract Message Fields').first().json.message_text }}",
            "booking_context": "={{ { booking_step: 'awaiting_service_type' } }}",
            "patient_id": "={{ $('Merge Conversation Data').first().json.patient_id || '' }}",
            "patient_name": "={{ ($('Merge Conversation Data').first().json.first_name ? $('Merge Conversation Data').first().json.first_name + ' ' + ($('Merge Conversation Data').first().json.last_name || '') : $('Extract Message Fields').first().json.push_name) }}",
            "wa_contact_id": "={{ $('Merge Conversation Data').first().json.wa_contact_id }}",
            "remote_jid": "={{ $('Extract Message Fields').first().json.remote_jid }}",
            "instance_name": "={{ $('Extract Message Fields').first().json.instance_name }}",
            "api_key": "={{ $('Extract Message Fields').first().json.api_key }}"
          }
        }
      }
    },
    {
      "id": "handoff-response",
      "name": "Set Handoff Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        500
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "Tu consulta fue recibida. Un miembro de nuestro equipo te atendra en breve.",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "human_handoff",
              "type": "string"
            },
            {
              "id": "is_handoff",
              "name": "is_handoff",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "greeting-response",
      "name": "Set Greeting Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        650
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "¡Hola! Soy la asistente virtual de la clínica. ¿En qué puedo ayudarte? Puedo responder preguntas sobre nuestros servicios, horarios, precios y ubicación.",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "awaiting_intent",
              "type": "string"
            },
            {
              "id": "is_handoff",
              "name": "is_handoff",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-intent-responses",
      "name": "Merge Intent Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $input.item.json };"
      }
    },
    {
      "id": "check-faq-handoff",
      "name": "Check FAQ Triggers Handoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst formatFaqs = $('Format FAQs for LLM').first().json;\n\nlet newState = item.new_state || 'awaiting_intent';\nlet responseText = item.response_text || '';\nlet newContext = item.new_context || '{}';\nlet sendButtons = false;\n\n// When FAQ can't find an answer, offer clarification buttons instead of immediate human handoff\nif (item.is_handoff === true) {\n  sendButtons = true;\n  newState = 'awaiting_intent';\n  responseText = '';\n}\n\n// For FAQ intent (no explicit new_state from faq-answer sub-workflow), set state back to awaiting_intent\nif (!item.new_state && !item.is_handoff) {\n  newState = 'awaiting_intent';\n}\n\nreturn {\n  json: {\n    response_text: responseText,\n    new_state: newState,\n    new_context: newContext,\n    conversation_id: formatFaqs.conversation_id,\n    remote_jid: formatFaqs.remote_jid,\n    instance_name: formatFaqs.instance_name,\n    api_key: formatFaqs.api_key,\n    send_buttons: sendButtons\n  }\n};"
      }
    },
    {
      "id": "merge-all-paths",
      "name": "Merge All Response Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $input.item.json };"
      }
    },
    {
      "id": "update-conversation-state",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4560,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversations\nSET state = '{{ $json.new_state }}',\n    context = '{{ $json.new_context }}'::jsonb,\n    last_message_at = now()\nWHERE id = '{{ $json.conversation_id }}'::uuid\nRETURNING id as conversation_id, state, '{{ $json.response_text.replace(/'/g, \"''\") }}'::text as response_text",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "insert-bot-message",
      "name": "Insert Bot Response Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4800,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, direction, sender, content)\nVALUES (\n  '{{ $json.conversation_id }}'::uuid,\n  'outbound',\n  'bot',\n  '{{ $json.response_text.replace(/'/g, \"''\") }}'\n) RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "debug-prepare-send-params",
      "name": "DEBUG - Prepare Send Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// DEBUG NODE: Makes send params visible in execution log.\n// Reads from Merge All Response Paths (the node that has remote_jid, response_text, etc.)\n// before Postgres nodes stripped them out.\nconst mergeData = $('Merge All Response Paths').first().json;\n\nconst remote_jid = mergeData.remote_jid || '';\nconst response_text = mergeData.response_text || '';\nconst instance_name = mergeData.instance_name || '';\nconst api_key = mergeData.api_key || '';\n\n// If any param is empty, log it clearly so you can see in execution log\nif (!remote_jid) console.error('DEBUG ERROR: remote_jid is empty!');\nif (!response_text) console.error('DEBUG ERROR: response_text is empty!');\nif (!instance_name) console.error('DEBUG ERROR: instance_name is empty!');\nif (!api_key) console.error('DEBUG ERROR: api_key is empty!');\n\nconsole.log('DEBUG send params:', JSON.stringify({ remote_jid, response_text: response_text.substring(0, 50), instance_name }));\n\nreturn { json: { remote_jid, response_text, instance_name, api_key } };"
      }
    },
    {
      "id": "send-wa-message",
      "name": "Send WA Message",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5280,
        300
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sub-send-wa-message",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "remote_jid",
              "type": "string"
            },
            {
              "name": "response_text",
              "type": "string"
            },
            {
              "name": "instance_name",
              "type": "string"
            },
            {
              "name": "api_key",
              "type": "string"
            },
            {
              "name": "send_buttons",
              "type": "boolean"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "remote_jid": "={{ $json.remote_jid }}",
            "response_text": "={{ $json.response_text }}",
            "instance_name": "={{ $json.instance_name }}",
            "api_key": "={{ $json.api_key }}",
            "send_buttons": "={{ $json.send_buttons || false }}"
          }
        }
      }
    },
    {
      "id": "end-human-handoff",
      "name": "End - Human Handoff Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        100
      ],
      "parameters": {}
    },
    {
      "id": "booking-handoff-response",
      "name": "Set Booking Handoff Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "Para agendar su cita, un asesor de nuestra clínica le atenderá directamente. En breve lo contactamos. 📅",
              "type": "string"
            },
            {
              "id": "new_state",
              "name": "new_state",
              "value": "human_handoff",
              "type": "string"
            },
            {
              "id": "is_handoff",
              "name": "is_handoff",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "new_context",
              "name": "new_context",
              "value": "={}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "active-booking-handoff",
      "name": "Set Active Booking Handoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const convData = $('Merge Conversation Data').first().json;\nconst extractFields = $('Extract Message Fields').first().json;\n\nreturn {\n  json: {\n    response_text: 'Para coordinar su cita, un asesor le atenderá directamente. En breve lo contactamos. 📅',\n    new_state: 'human_handoff',\n    new_context: '{}',\n    conversation_id: convData.id,\n    remote_jid: extractFields.remote_jid,\n    instance_name: extractFields.instance_name,\n    api_key: extractFields.api_key\n  }\n};"
      }
    }
  ],
  "connections": {
    "Receive MESSAGES_UPSERT": {
      "main": [
        [
          {
            "node": "Filter fromMe Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter fromMe Messages": {
      "main": [
        [
          {
            "node": "Extract Message Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Message Fields": {
      "main": [
        [
          {
            "node": "Read Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Conversation State": {
      "main": [
        [
          {
            "node": "Conversation Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Exists?": {
      "main": [
        [
          {
            "node": "Merge Conversation Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Conversation": {
      "main": [
        [
          {
            "node": "Merge Conversation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Conversation Data": {
      "main": [
        [
          {
            "node": "Insert Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Inbound Message": {
      "main": [
        [
          {
            "node": "Is Human Handoff?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Human Handoff?": {
      "main": [
        [
          {
            "node": "End - Human Handoff Active",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Booking Flow Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Booking Flow Active?": {
      "main": [
        [
          {
            "node": "Set Active Booking Handoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Booking Flow": {
      "main": [
        [
          {
            "node": "Prepare Mid-Booking State Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mid-Booking State Update": {
      "main": [
        [
          {
            "node": "Merge All Response Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Knowledge Base": {
      "main": [
        [
          {
            "node": "Format FAQs for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format FAQs for LLM": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "FAQ Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Booking Handoff Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Handoff Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Greeting Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FAQ Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Handoff Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Answer": {
      "main": [
        [
          {
            "node": "Merge Intent Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Booking Flow": {
      "main": [
        [
          {
            "node": "Merge Intent Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Handoff Response": {
      "main": [
        [
          {
            "node": "Merge Intent Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Greeting Response": {
      "main": [
        [
          {
            "node": "Merge Intent Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Intent Responses": {
      "main": [
        [
          {
            "node": "Check FAQ Triggers Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check FAQ Triggers Handoff": {
      "main": [
        [
          {
            "node": "Merge All Response Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Response Paths": {
      "main": [
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation State": {
      "main": [
        [
          {
            "node": "Insert Bot Response Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Bot Response Message": {
      "main": [
        [
          {
            "node": "DEBUG - Prepare Send Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEBUG - Prepare Send Params": {
      "main": [
        [
          {
            "node": "Send WA Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Booking Handoff Response": {
      "main": [
        [
          {
            "node": "Merge Intent Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Active Booking Handoff": {
      "main": [
        [
          {
            "node": "Merge All Response Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "whatsapp"
    },
    {
      "name": "chatbot"
    }
  ]
}